@media (max-width: 575px) {
    #simulator-form{
        text-align: center;
    }

    #buttons {
        justify-content: center;
    }

}

@media (min-width: 576px) {
    form .column:nth-child(2) {
        margin-right: 80px;
    }

    #buttons {
        justify-content: space-between;
    }

}
