@media (min-width: 576px) {
    form .column:nth-child(2) {
        margin-right: 80px;
    }

    h2{
        text-align: center;
    }

    #buttons {
        justify-content: space-between;
    }

    #graph-column{
        display: block;
    }

    #graph-bar{
        display: none;
    }

}

@media (min-width: 768px) {
    #simulator{
        justify-content: space-around;
    }
}

@media (min-width: 1024px){
    h2{
        text-align: left;
    }
}